body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Gothic", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  background-image:url(images/background.png);
}

h1 {
  color: #80ffcc;
  padding: 20px 0px 10px 0px;
}

h2 {
	color: #A014B6;
	padding: 20px 0px 10px 0px;
}
h3 {
	color: #95E8B8;
	padding: 20px 0px 10px 0px;
}

h4 {
	color: #ff3399;
	padding: 25px 0px 10px 0px;
}

h5 {
	color: #95ADE8;
	padding: 20px 0px 10px 0px;
}

a {
color: #A014B6;
text-decoration: none;
}
 a:hover {
          color: #ff794d;
        }
.link-two:hover{
	color: pink;
	background-color: purple;
}
